<h1>BookmarkletExcercise</h1>

<p>Drag any of the links below into your bookmark bar.</p>

<p>
<%= link_to "FooBaz Insert", easymarklet_js('foobaz_insertion_bookmarklet.js') %>
</p>

<p>
<%= link_to "FooBaz XDM", easymarklet_js('foobaz_xdm_bookmarklet.js') %>
</p>

<p>
<%= link_to "Barbaz", easymarklet_js('barbaz_consumer.js') %>
</p>

<p>
  <%= link_to 'Fvbiframe', easymarklet_js('fvbiframe_consumer.js') %>
</p>

<p>
  <%= link_to 'Fvb Dlux', easymarklet_js('fvb_dlux_consumer.js') %>
</p>
